.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  width: 100%;
}
.row [class^='col'] {
  float: left;
  margin: 0.5rem 2%;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
.col-1 {
  width: 96%;
}
.col-2 {
  width: 96%;
}
.col-3 {
  width: 96%;
}
.col-4 {
  width: 96%;
}
.col-5 {
  width: 96%;
}
.col-6 {
  width: 96%;
}
.col-7 {
  width: 96%;
}
.col-8 {
  width: 96%;
}
.col-9 {
  width: 96%;
}
.col-10 {
  width: 96%;
}
.col-11 {
  width: 96%;
}
.col-12 {
  width: 96%;
}
.col-1-sm {
  width: 8%;
}
.col-2-sm {
  width: 16%;
}
.col-3-sm {
  width: 24%;
}
.col-4-sm {
  width: 32%;
}
.col-5-sm {
  width: 40%;
}
.col-6-sm {
  width: 48%;
}
.col-7-sm {
  width: 56%;
}
.col-8-sm {
  width: 64%;
}
.col-9-sm {
  width: 72%;
}
.col-10-sm {
  width: 80%;
}
.col-11-sm {
  width: 88%;
}
.col-12-sm {
  width: 96%;
}
@media only screen and (min-width: 720px) {
  .col-1 {
    width: 4.33333333%;
  }
  .col-2 {
    width: 12.66666667%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33333333%;
  }
  .col-5 {
    width: 37.66666667%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33333333%;
  }
  .col-8 {
    width: 62.66666667%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33333333%;
  }
  .col-11 {
    width: 87.66666667%;
  }
  .col-12 {
    width: 96%;
  }
}
